.Button {
  width: 50px;
  height: 25px;
  padding: 10px;
  background-color: rgba(226, 12, 12, 0.747);
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 10px rgba(112, 50, 50, 0.5);
  border-radius: 5px;
  font-size: 1.2rem;
  display: inline-block;
}

.disabled {
  background-color: rgba(206, 54, 54, 0.281);
  cursor: not-allowed;
}
