.modal {
  position: fixed;
  top: 20%;
  left: 25%;
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 300;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 70px 50px;
  flex-direction: column;
}
.modal h4 {
  margin: 20px 0px;
}
