.UserDetailsForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  margin: 2% auto;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(197, 160, 160, 0.555);
}

.UserDetailsForm input {
  display: flex;
  height: 30px;
  width: 70%;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  margin-bottom: 5px;
  border: 1px solid rgba(104, 40, 40, 0.541);
}
.UserDetailsForm select {
  display: flex;
  height: 40px;
  width: 72%;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  margin-bottom: 5px;
  border: 1px solid rgba(104, 40, 40, 0.541);
}
.UserDetailsForm strong {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: rgb(77, 52, 52);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
