.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 700;
  background-color: rgba(124, 77, 14);
  color: white;
  padding-top: 20px;
  transition: transform 0.3s ease-out;
}

.sidebar p {
  background-color: rgba(88, 63, 30, 0.616);
  height: 50px;
  width: 100%;
  border-bottom: 5px solid rgba(245, 26, 26, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar p:hover {
  cursor: pointer;
  background-color: rgba(88, 63, 30, 0.9);
}
.sidebar__icon {
  align-self: flex-end;
  margin-bottom: 20px;
}
