.BuildControls {
  width: 50%;
  height: 450px;
  margin: 2% auto;
  box-sizing: border-box;
  text-align: center;
  padding: 3% 2%;
  background: linear-gradient(#be7246, #fc893d);
}
.BuildControls__control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1% 0px;
}
.BuildControls__label {
  flex: 0.4;
}
.BuildControls p {
  margin-bottom: 30px;
}

.BuildControls__button {
  width: 120px;
  height: 50px;
  background-color: #daa972;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  border-radius: 5px;
}
.BuildControls__button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
