.Navbar {
  height: 60px;
  width: 100%;
  background-color: rgba(124, 77, 14);
  z-index: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
}
.Navbar__right {
  display: flex;
  flex: 0.4;
  align-items: center;
  justify-content: flex-end;
  height: 90%;
}
.NavItem {
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavItem:hover {
  background-color: rgba(88, 63, 30, 0.9);
}
.Navbar__icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navbar__icon:hover {
  cursor: pointer;
}
.nav__active {
  border-bottom: 5px solid rgba(245, 26, 26, 0.74);
  background-color: rgba(88, 63, 30, 0.616);
  color: gray;
}
.link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.Logo {
  height: 80%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 1%;
}
.Logo img {
  height: 80%;
  width: 80%;
  object-fit: contain;
}
@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
@media (min-width: 499px) {
  .MobileOnly {
    display: none;
  }
}
